.menu{
padding: 4px;
    .lists{
        display: flex;
        flex-direction: column;
        gap:10px;
    
    .list_items{
        display: flex;
        flex-direction: column;
    
    .listname{
        color: lightslategray;
        text-transform: capitalize;
        margin-bottom: 2px;
        margin-top: 4px;
    }
.list_link{
    margin-left: 8px;
    padding:10px;
    display: flex;
    align-items: center;
    gap:7px;

    :hover{
        color: rgba(232, 34, 34, 0.845);
    }
}

}
    }
}