@import "./variables.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.main_container{
  display: flex;
}

.menu_container{
  width: 250px;
  border-right: 2px solid $soft-bg;
  padding: 5px 20px;
}

.content_container{
  padding: 5px 20px;
  width: 100%;
}